/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  padding: 20px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-color-red-black);
  border-inline-end: 1px solid var(--title-color-red-black);
  right: 0;
  top: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-color-red-black);
  border-inline-start: 1px solid var(--title-color-red-black);
  left: 0;
  bottom: 0;
}

.rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  top: 4px;
  right: 6px;
}

.rec::before {
  content: 'REC';
  color: var(--accent-color);
  font-family: var(--font-body-regular-family);
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  flex-shrink: 0;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color);
}

.header {
  height: calc(100vh - 40px);
  min-width: 357px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 80px;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-item {
  color: var(--title-color-red-black);
  font-family: var(--font-body-regular-family);
  font-weight: var(--font-body-regular-weight);
  line-height: 18px;
  font-style: normal;
  font-size: var(--font-body-regular-size);
  border: 1px solid transparent;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 2px 13px;
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color-red-black);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--title-color-red-black);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-body-regular-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: 82.5%;
  margin-left: -20px;
}

.header__text {
  color: var(--title-color-black);
  font-family: var(--font-body-regular-family);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: var(--font-body-regular-height);
  align-self: center;
  width: 50%;
  justify-self: end;
  font-size: var(--font-body-regular-size);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color-black);
}

.grid-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.main-title {
  color: var(--title-color-red-black);
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: var(--font-body-regular-height);
  max-width: 315px;
}

.article__title {
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: var(--font-body-regular-height);
  display: block;
  margin-bottom: 10px;
}

.article__text {
  color: var(--main-color);
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-style: normal;
  font-weight: var(--font-body-regular-weight);
  line-height: var(--font-body-regular-height);
}

.article:not(:last-of-type) {
  margin-bottom: 20px;
}

.what_focus-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.what__focus-title {
  margin-bottom: 20px;
}

.article__title_regular {
  font-weight: var(--font-body-regular-weight);
}

.p__link {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.p__link:hover {
  text-decoration: underline;
}

.p__link:focus {
  outline: none;
}

.p__link:focus-visible {
  border: 1px solid var(--title-color-red-black);
}

.poster {
  display: grid;
  margin-bottom: 80px;
}

.poster_main-title {
  color: var(--title-color-black);
  font-family: var(--font-body-regular-family);
  font-size: var(--font-body-regular-size);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: var(--font-body-regular-height);
  margin-bottom: 20px;
}

.poster_picture-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.poster_picture:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}
.poster_picture:nth-child(2) {
  grid-area: 1 / 3 / 3 / 4;
}
.poster_picture:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}
.poster_picture:nth-child(3) {
  grid-area: 2 / 1 / 4 / 2;
}
.poster_picture:nth-child(5) {
  grid-area: 3 / 2 / 4 / 4;
}

.poster_picture-group img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

footer {
  height: calc(100vh - 40px);
  min-width: 357px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer_title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--font-body-regular-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--font-body-bold-weight);
  line-height: 82.5%;
}

section:not(:last-child) {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .header {
    display: grid;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
  }

  .header__theme-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
  }

  .header__text {
    min-height: 117px;
  }

  .main-title {
    max-width: 236px;
  }

  .grid-columns {
    gap: 20px;
  }

  .what_focus-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .poster_picture-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .footer {
    height: calc(100vh - 40px);
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 10px;
  }

  .header {
    height: calc(100vh - 20px);
    min-width: 357px;
    display: grid;
    grid-template-rows: 1fr 192px 1fr;
    margin-bottom: 50px;
    position: relative;
  }

  .header__text {
    width: 100%;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main-title {
    max-width: 355px;
  }

  .grid-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .what_focus-group {
    gap: 0;
  }

  section:not(:last-child) {
    margin-bottom: 50px;
  }

  .poster_picture-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 142px 355px 237px 355px 237px;
    grid-row-gap: 10px;
  }

  .poster_picture:nth-child(1n) {
    grid-area: auto;
  }

  .poster_main-title {
    margin-bottom: 10px;
  }

  .poster {
    margin-bottom: 50px;
  }

  .footer {
    height: calc(100vh - 20px);
  }

  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
