/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --tittle-color: #db00ff;
  --tittle-color-black: #000028;
  --tittle-color-red-black: #ff0070;
  --font-body-regular-family: 'IBM Plex mono', sans-serif;
  --font-body-regular-weight: 400;
  --font-body-regular-height: 130%;
  --font-body-regular-size: 18px;

  --font-body-bold-family: 'IBM Plex mono', sans-serif;
  --font-body-bold-weight: 700;
  --font-body-bold-height: 130%;
  --font-body-bold-size: 18px;
}
