/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-color-black: #000028;
  --title-color-red-black: #ff0070;
  --button-border-hover: 1px solid rgba(255, 0, 112, 0.4);
  --font-body-regular-family: 'IBM Plex mono', monospace;
  --font-body-regular-weight: 400;
  --font-body-regular-height: 130%;
  --font-body-regular-size: 18px;

  --font-body-bold-weight: 700;
}
